<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>URL Shortener</title>
	<link href="https://fonts.googleapis.com/css2?family=Itim&family=Lato&family=Poppins&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="./style.css">
</head>
<body>
	<h2>URL Shortener</h2>
	<h4>Enter URL to shorten:</h4>
	<div class="main-box">
		<form action="/" method="POST">
			<input type="text" name="url" id="url" required><br>
			<button type="submit" name="submit" id="submit">Submit</button>
		</form>
	</div>
	<script src="./script.js"></script>
</body>
</html>